<div class="container>"	
	<div class="panel panel-default ">
	 	<div class="alert alert-success">
	 		<spa class ="lead">
	 			Benvenuti ad Aste Online System
	 		</span>
	 	</div>
	 	<div class ="panel-body">
	 		<div class="alert alert-info">
	 			<ul>
	 				<li>
	 					Clicca qui per
	 					<strong>Registrarti</strong>
	 				</li>
	 				<li>
	 					Clicca qui per
	 					<strong> verdere tutte le aste disponibili</strong>
	 					degli utenti
	 				</li>
	 			</ul>
	 		</div>
	 	</div>
	</div>
</div>
